# HeroUI Pro CI/CD license key from https://heroui.pro/dashboard
# This is NOT the personal token used for MCP.
# export HEROUI_AUTH_TOKEN=...
# npx heroui-pro@latest install --yes
HEROUI_AUTH_TOKEN=
